{% extends 'base.html' %}
{% block page_content %}
  <div class="container">
    <div class="row shadow-lg p-3 mb-5 bg-body rounded">
      <h1 class="display-1" style="text-align: center">Evaluaciones</h1>
    </div>

    <div class="row">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-dark" type="button" onclick="location.href = '/grades/predict'">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
          </svg> Agregar
        </button>
      </div>
    </div>

    <div class="row shadow-lg p-3 mb-5 bg-body rounded">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombres y Ap.</th>
            <th scope="col">Curso</th>
            <th scope="col">Grado</th>
            <th scope="col">Cal. Final</th>
            <th scope="col">Evaluación [Predicción]</th>
            <th scope="col">Evaluación [Real]</th>
          </tr>
        </thead>
        <tbody>
          {% for grade in grades %}
            <tr>
              <th scope="row">{{ grade.student_code }}</th>
              <td>{{ grade.name }}</td>
              <td>{{ grade.course }}</td>
              <td>{{ grade.grade }}</td>
              <td>{{ grade.gf }}</td>
              <td>{{ grade.predicted_evaluation }}</td>
              <td>{{ grade.final_evaluation }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="9" style="text-align: center">No hay datos para mostrar.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
